html {
  width: 100%;
  height: 100%;

}
body {
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
  background-image: linear-gradient( to bottom right, rgb(19, 19, 19), rgb(49, 49, 49) );
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  margin: 0px;
}
.container {
  width: fit-content;
  font-size: 50px;
  margin: auto;
  color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.btn-1,.btn-2{
  background-color: #686868;
  color: #fff;
  width: 165px;
  height: 40px;
  border-radius: 50px;
  border-width: 0px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  }