html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
  background-image: linear-gradient(
    to bottom right,
    rgb(19, 19, 19),
    rgb(49, 49, 49)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin: 0px;
}
.container {
  width: fit-content;
  font-size: 50px;
  margin: auto;
  color: #fff;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.btn-1,
.btn-2 {
  background-color: #686868;
  color: #fff;
  width: 165px;
  height: 40px;
  border-radius: 50px;
  border-width: 0px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}
.product-list {
  width: 580px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: auto;
  overflow-x: hidden;
}
.product {
  width: 92%;
  margin-top: 15px;
  height: 120px;
  background-color: rgb(104 104 104);
  border-radius: 5px;
  margin-right: auto;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.product-name {
  font-size: 30px;
  margin-left: 10px;
}
.product-Kcalgm {
  font-size: 40px;
  margin-left: 40px;
  padding-top: 15px;
}
.delete-button {
  display: flex;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  border-radius: 100%;
  color: rgb(255 255 255);
  font-size: 50px;
  height: 40px;
  width: 40px;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin:10px;
}
.edit-button {
  display: flex;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  border-radius: 100%;
  color: rgb(255 255 255);
  font-size: 50px;
  height: 40px;
  width: 40px;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin:10px;
}
.confirm-button {
  display: flex;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  border-radius: 100%;
  color: rgb(255 255 255);
  font-size: 50px;
  height: 40px;
  width: 40px;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin:10px;

}
.product-buttons {
  display: flex;
  margin-right: 20px;
  justify-content: space-around;
}
.delete-button:hover {
  color: rgb(255, 50, 50);
  transition-duration: 500ms;
}
.edit-button:hover {
  color: rgb(255, 219, 15);
  transition-duration: 500ms;
}
.confirm-button:hover {
  color: rgb(47, 255, 54);
  transition-duration: 500ms;
}
.swal-button--confirm {
  background-color: rgb(255, 50, 50);
  font-family: "Josefin Sans", sans-serif;
}
.swal-button--cancel {
  background-color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
}
.swal-button:not([disabled]):hover {
  background-color: rgb(204, 39, 39);
}
.swal-button--cancel:not([disabled]):hover {
  background-color: rgb(218, 218, 218);
}
@keyframes pulseWarning {
  0% {
    border-color: rgb(255, 50, 50);
  }
  100% {
    border-color: rgb(255, 50, 50);
  }
}
.swal-icon--warning {
  border-color: rgb(255 50 50);
}
.swal-icon--warning__body,
.swal-icon--warning__dot {
  background-color: rgb(255, 50, 50);
}
.input-name-edit,.input-cals-edit{
  margin-left: 10px;
  height: 35px;
  border-radius: 50px;
  border-width: 0;
  animation-duration: 0.4s;
  padding: 0;
  padding-left: 6%;
  font-family: "Josefin Sans", sans-serif;
  width: 150px;
  font-size: 20px;
  padding-top: 1px;
}
.input-cals-edit{
margin-left: 20px;
}
input.name-input:focus {
  outline: none;
}
input.calory-input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #c4c4c4;
}
.product-info{
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  width: 190px;
}
input:focus {
  border: 0px;
}