html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin: 0px;
}
.container {
  font-size: 50px;
  margin-top: 70px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.row-select-box,.grams-input{
  width: 150px;
  height: 30px;
  margin: 10px;
  border-color: #ccc;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 0px;
  text-indent: 8px;
  border-style: solid;
  border-width: 1px;
}
.grams-input{
  width: 148px;
  height: 28px;
}
.submit-button{
  width: 80px;
  height: 50px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  cursor: pointer;
}
.calories{
  font-size: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
}
.product-row {
  margin: 10px;
  height: 75px;
  background-color: rgb(104 104 104);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-name {
  font-size: 30px;
  margin-left: 10px;
}
.product-Kcalgm {
display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
    height: none;
  }
  .right-side {
    display: none;
  }
  .left-side {
    width: 100%;
    height: none;
  }
  .left-content {
    height: 526px;
  }
}
.card-button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 255 255);
  font-size: 20px;
  height: 45px;
  width: 45px;
  padding: 0px;
  cursor: pointer;
  border: none;
  border-radius: 20%;
}
.delete-button{
  color: rgb(255, 51, 68);
}
.delete-button:hover {
  background-color: rgb(255, 227, 227);
  transition-duration: 500ms;
}
.total-calories{
  margin-top: 50px;
}